body {
  height: 100vh;
  width: 100vw;
}

#header {
  margin: 5em 0;
  color: #1a99aa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  padding: 4em;
}

.result {
  margin-top: 2em;
  margin-bottom: 4em;
}
#registrationForm {
  width: 40vw;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
